:root {
    --primeira-cor: "#FFEDE1";
    --segunda-cor: "#C1997F";

    --borda:"#D14C69";

    --fundo: "#0CD2E4";
    --text: "#637CA9";
}

* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: var(--fundo);
    color: var(--text);
    font-size: 30px;
}

h1 {
    color: rgb(185, 7, 96);
}

.conteudo {
    display: flex;
    height: 200px;
}

.conteudo > .esquerda > img {
  width: 70px;
  height: 70px;
}