* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgb(243, 119, 196);
    color: rgb(5, 0, 0);
    font-size: 40px;
}

h1 {
    color: rgb(185, 7, 96);
}

.conteudo {
    display: flex;
    height: 200px;
}